@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');
@primary-font: "IBM Plex Sans", serif;
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: @primary-font;
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  margin-top: .5em;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-weight: 600;
  font-size: 28px;
}
#description {
  text-transform: capitalize;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  font: 400 18px @primary-font;
  display: none;
}
